.react-calendar {
  margin: 0 auto;
  width: 100%;
  max-width: 275px;
  background: white;
  border: 1px solid #e4e4e7;
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.125em;
  border-radius: 5px;
  padding: 10px;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;

  span {
    font-weight: bold;
  }
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.custom-saturday {
  color: #0000ff;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  font: inherit;
  font-size: 0.833em;
  border-radius: 10px; /* 날짜 타일을 동그랗게 */
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  border-radius: 10px; /* 호버 상태에서도 동그란 모양 유지 */
}

.react-calendar__tile--now {
  background: #f4f4f4; /* 오늘의 배경색 */
  color: black; /* 오늘의 글씨 색 */
  border-radius: 10px; /* 오늘 타일 동그랗게 */
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #f4f4f4; /* 오늘의 배경 유지 */
  color: black; /* 오늘의 글씨 색 유지 */
}

.dot-container {
  position: relative;
}

.red-dot {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
}

.react-calendar__tile--active {
  background: black !important;
  color: white !important;
  border-radius: 10px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: black; /* 선택된 날짜의 배경 유지 */
  color: white; /* 선택된 날짜의 글씨 유지 */
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
